{% if user.is_authenticated %}
<nav>
	<div class="menudivs">
		<span class="menus"><a href="{% url 'home' %}">Home</a></span>
        <span class="menus"><a href="{% url 'show_members' %}">profile</a></span>
		<span class="menus"><a href="{% url 'add_member' %}">Add</a></span> 
		<span class="menus"><a href="{% url 'logout' %}">Logout</a></span>
	</div>
</nav>
{% else %}
<nav>
	<div class="menudivs">
		<span class="menus"><a href="{% url 'home' %}">Home</a></span>
		<span class="menus"><a href="{% url 'login' %}">Login</a></span>
		<span class="menus"><a href="{% url 'register' %}">Register</a></span>
	</div>
</nav>
{% endif %}
